extends ../_base/_layout
block append vars
  - var path = '../';
  - var title = 'sub';
block title
  title= 'sub site title' + ' | ' + title
block append meta
block append link
  link(rel="stylesheet" href=`${path}assets/css/sub.css`)
block body
  #wrapper.ly_wrapper
    include ../_parts/_header
    main.ly_main
      p TOP へブラウザバックしてください
    include ../_parts/_footer
block append script
  script(src=`${path}assets/js/sub.js`)
